@font-face {
    font-family: "Roboto", sans-serif;
}

body {
    color: #434455;
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

.container {
    max-width: 320px;
    padding: 0 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

/* ===HEADER=== */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);

}

.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header-logo {
    color:  #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-right: 76px;
}

.header-logo-color {
    color:#2e2f42;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}

.header-menu-item {
    position: relative;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link {
    color:#2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:focus, 
.header-menu-link:active {
    color:#404bbf;
}

.current {
    color:#404bbf;
    position: relative;
}

.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    display: block;
    width: 100%;
    height: 4px;
    flex-shrink: 0;
}

.header-address {
    color: #434455;
    font-style: normal;
}

.header-address-list {
    display: flex;
    gap: 40px;
}

.header-address-item {}

.header-address-link {   
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover,
.header-address-link:focus {
    color: #404bbf;
} 
/* ===HEADER END=== */

/* ===HERO (Section1)=== */
.hero {
    padding: 72px 16px;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: auto;
}

.hero-container {}

.hero-title {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
max-width: 288px;
text-transform: capitalize;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 72px;
}

.hero-btn {
    background-color: #4d5ae5;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    text-align: center;
    display: block;
    padding: 16px 32px;
    border: none;
    align-items: flex-start;
    gap: 10px;
    min-width: 169px;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn > body {
    font-family: "Roboto"; sans-serif;
}

.hero-btn:focus {
    background-color: #404bbf;
}

.hero-btn:hover {
    background-color: #404bbf;
}
/* ===HERO (Section1) END=== */

/* ===ADVANTAGE (Section 2)=== */
.advantages {}

.advantages-list {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
}

.advantages-item {
    /* width: calc((100% - 24px*3) /4); */
    width: 100%;
}

.advantages-subtitle {
    color: #2e2f42;
    font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
    text-align: center;
}

.advantages-item-text {
    color: #434455;
    font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
align-self: stretch;
}

.advantages-icon {}

.advantages-icon-wrap {
    display: none;
}

/* ===ADVANTAGE (Section 2) END=== */

/* ===TEAM (Section 3)=== */
.team {
    background-color: #f4f4fd;
}

.team-container {}

.team-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.team-item { 
    background-color: #FFFFFF;
    border: 1px solid #fff;
    border-top: none;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-img {}

.team-subtitle {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-positiion {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.subtitle-position {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}

.team-soc-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-soc-item {
    width: 40px;
    height: 40px;
}

.team-soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #F4F4FD;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: #404bbf;
}

.team-soc-icon {
    fill: #F4F4FD;
}

/* .team-soc-icon::after {
} */
/* ===TEAM (Section 3) END=== */

/* ===PORTFOLIO (Section 4)=== */
.portfolio {}

.portfolio-title {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
    text-transform: capitalize;
}

.portfoloi-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    justify-content: center;
}

.portfolio-item {
    background-color: #FFF;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-cover-text {
    transform: translateY(0);
}

.portfolio-card {}

.portfolio-subtitle {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-description {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-cover-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-cover-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #4d5ae5;
    color: #f4f4fd;
    padding: 40px 32px;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
}

/* ===PORTFOLIO (Section 4) END=== */

/* ===FOOTER=== */
.footer {
    padding: 100px 0;
    background-color: #2e2f42;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-color {
    color: #f4f4fd;
}

.footer-text {
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-logo-container {
    margin-right: 120px;
}
.footer-soc-media {
    margin-right: 80px;
}

.footer-soc-title {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px; 
}
.footer-soc-list {
    display: flex;
    gap: 16px;
}

.footer-soc-item {
    width: 40px;
    height: 40px;
}

.footer-soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #F4F4FD;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: #31D0AA;
}

.footer-soc-icon{
    fill: #F4F4FD;
}

.footer-subscribe {
    /* display: inline-flex; */
    flex-direction: column;
    gap: 16px;
}

.footer-subscribe-title {
    color: #FFF;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 16px;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-input {
width: 264px;
height: 40px;
border-radius: 4px;
border: 1px solid #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
background-color: transparent;
font-size: 12px;
line-height: 1.5;
letter-spacing: 0.04em;
padding-left: 16px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
color: #ffffff;
}

.footer-input::placeholder {
    color: #FFF;
}

.footer-input-btn {
    min-width: 165px;
    height: 40px;
    color: #FFF;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
padding: 8px 24px;
border-radius: 4px;
background: #4D5AE5;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: flex;
justify-content: center;
align-items: center;
}

.footer-input-btn > body {
    font-family: "Roboto"; sans-serif;
}

.footer-input-btn:focus, 
.footer-input-btn:hover {
    background-color: #404bbf;
}

.subscribe-icon {
    margin-left: 16px;
    fill: #fff;
    vertical-align: middle;
}

/* ===FOOTER END=== */

/* === MODAL WINDOW */
.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.40);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    border: none;
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
border: 1px solid rgba(0, 0, 0, 0.1);
padding: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404BBF;
    border: none;
    fill: #ffffff;
} 

.modal-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title{
    color: #2E2F42;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
margin-bottom: 16px;
}

.modal-window {
}

.modal-field {
    margin-bottom: 8px;
}

.modal-lable {
    display: block;
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid  rgba(46, 47, 66, 0.40);
    background-color: transparent;
    outline: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
    fill: #4d5ae5;
}

.modal-input-wrap {
    position: relative;
}

.modal-icon {
    fill: #2E2F42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-text {
    margin-bottom: 16px;
}

.modal-textarea {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid  rgba(46, 47, 66, 0.40);
    background-color: transparent;
    outline: transparent;
    transition: border-color 300ms linear;
padding: 8px 16px;
    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:hover,
.modal-textarea:focus {
    border-color: #4D5AE5;
}

.modal-btn {
    background-color: #4d5ae5;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    text-align: center;
    display: block;
    padding: 16px 32px;
    border: none;
    align-items: flex-start;
    gap: 10px;
    min-width: 169px;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn > body {
    font-family: "Roboto"; sans-serif;
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404bbf;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-field-checkbox {
margin-bottom: 24px;
}

.check-text {
    color: #8E8F99;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
/* display: flex; */
align-items: center;
}

.check-text a {
    color:#4D5AE5;
    text-decoration-line: underline;
}

.check-text-span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
height: 16px;
fill: transparent;
border: 1px solid rgba(46, 47, 66, 0.4); 
border-radius: 2px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
margin-right: 8px;
}

.check-input:checked + .check-text span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd
}

/* @media screen and (min-width: 320px) {
} */

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .hero {
padding: 112px;
    }

    .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
}

    .advantages-list {
        gap: 72px 24px;
    }

    .advantages-item {
        width: calc((100% - 24px) /2);
    }
    .team-item {
    /* width: calc((100% - 24px) /2); */
    }

    .portfolio-item {
    width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }

    .section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.hero {
    padding: 188px 0;
}

.hero-title {
    margin-bottom: 48px;
}

    .advantages-list {
        gap: 24px;
    }

    .advantages-item {
        width: calc((100% - 24px*3) /4);
    }
    .advantages-icon-wrap {
        display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    }    

    .team-item {
    width: calc((100% - 24px*3) /4);
    }

    .portfolio-item {
    width: calc((100% - 48px) / 3);
    }
}
